streamlit==1.58.0

pandas
numpy
matplotlib

transformers
torch
torchvision

speechrecognition==3.16.1
streamlit_mic_recorder==0.0.8

edge-tts==7.2.8
deep-translator==1.11.4

faster-whisper==1.2.1

requests
aiohttp
GitPython
pydub