streamlit==1.58.0
pandas==3.0.3
numpy==2.4.6
matplotlib==3.10.9

transformers
torch

speechrecognition==3.16.1
streamlit_mic_recorder==0.0.8

edge-tts==7.2.8
deep-translator==1.11.4

faster-whisper==1.2.1

requests
aiohttp
GitPython
pydub
